<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
   <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div id="app">
      <!-- <p {{filteredBooks}}></p> -->
      <!-- v-bind: or : -->
      <a :href="url">github</a>
      <div v-if="showBooks">
        <!-- <p>{{books[0].title}}- {{books[0].price}}</p>
        <p>{{books[1].title}}- {{books[1].price}}</p> -->

        <ul v-for="book in filteredBooks">
          <li :class="{fav:book.isFav}" @click="changeFav(book)">
            <h3>{{book.title}}</h3>
            <p>{{book.price}}</p>
            <img :src="book.image" :alt="book.title" />
          </li>
        </ul>
      </div>

      <button @click="changeShowBook">
        <span v-if="showBooks">hide books</span>
        <span v-else>show books</span>
      </button>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
